{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_grid.css') }}">
    <div class="row row-cols-1 row-cols-md-4 g-{{ n }}">
      {% for user in users %}
        <div class="card" style="margin-top: .5rem; margin-right: .5rem; margin-left: .5rem; background-color: #ffbf55;
            border-radius: 100px">
            <div class="row g-0">
              <div class="col-md-auto">
                  <img src="{{ user.avatar }}" class="img-fluid rounded-circle" alt="not found">
              </div>
              <div class="col-lg-auto">
                  <div class="card-body">
                    <h5 class="card-title">{{ user.nickname }}</h5>
                    <p class="card-text">{{ user.name }}</p>
                  </div>
              </div>
            </div>
        </div>
      {% endfor %}
    </div>
{% endblock %}