{% extends "base.html" %}

{% block content %}
  <form action="" method="post" novalidate>
    <div>
      {{ form.csrf_token }}
    </div>
    <div class="card" style="background-color: #EFEEED; border-radius: 5px">
      <div class="card-header">
        {{ form.title.label }}
        {{ form.title(class="form-control", type="text") }}<br>
        {% for error in form.title.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
      </div>
      <img src="{{ publication.photo }}" class="card-img-top" alt="...">
      <div class="card-body">
        {{ form.description.label }}
        {{ form.description(class="form-control", type="text") }}<br>
        {% for error in form.description.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
        {{ form.submit(type="submit", class="btn btn-primary") }}
      </div>
      <div class="card-footer" >
        <small class="text-muted">{{ publication.publication_date }}</small>
      </div>
    </div>
  </form>
{% endblock %}