{% extends "base.html" %}

{% block content %}
  <a class="btn btn-secondary" type="button" href="/user/{{ users_id }}" data-bs-toggle="tooltip"
     style="width: 10%; margin-top: 15px" data-bs-placement="bottom" title="Go back">&#x2190</a>
  <div class="row row-cols-1 row-cols-md-5 g-{{ n }}">
    {% for user in users %}
      <div class="col" style="margin-top: 0.5rem;">
        <div class="card h-100" style="background-color: #EFEEED;
        border-radius: 10px">
          <a href="/user/{{ user.id }}">
            <img src="{{ user.avatar }}" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title">{{ user.nickname }}</h5>
            <p class="card-text">{{ user.surname + ' ' if user.surname else '' }}{{ user.name }}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ user.rank + '  ' if user.rank else '' }}
            {{ user.speciality if user.speciality else '' }}</small>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}